{% extends "base.html" %}
{% block title %} Case Pidoras {% endblock %}

{% block content %}
<h2>Кейс "007"</h2>


<div class="case-container">
    <div class="case-strip" id="case-strip"></div>
</div>

<button onclick="rollCase()">Открыть кейс</button>

<script>
    const images = [
        "{{ url_for('static', filename='images/007/item1.png') }}",
        "{{ url_for('static', filename='images/007/item2.png') }}",
        "{{ url_for('static', filename='images/007/item3.png') }}",
        "{{ url_for('static', filename='images/007/item4.png') }}",
        "{{ url_for('static', filename='images/007/item5.png') }}",
        "{{ url_for('static', filename='images/007/item6.png') }}",
        "{{ url_for('static', filename='images/007/item7.png') }}",
        "{{ url_for('static', filename='images/007/item8.png') }}",
        "{{ url_for('static', filename='images/007/item9.png') }}",
        "{{ url_for('static', filename='images/007/item10.png') }}",
        "{{ url_for('static', filename='images/007/item11.png') }}",
        "{{ url_for('static', filename='images/007/item12.png') }}",
    ];

    function rollCase() {
        const strip = document.getElementById("case-strip");
        strip.innerHTML = "";
        strip.style.transition = "none";
        strip.style.transform = "translateX(0)";

        const imagesToShow = [];
        const totalItems = 30;
        const itemWidth = 100;
        const visibleItems = 5;
        const centerIndex = visibleItems / 2;
        const stopIndex = totalItems - centerIndex - 3;
        const offset = stopIndex * itemWidth;

        for (let i = 0; i < totalItems; i++) {
            const img = document.createElement("img");
            img.src = images[Math.floor(Math.random() * images.length)];
            img.className = "item";
            imagesToShow.push(img);
        }

        imagesToShow.forEach(img => strip.appendChild(img));

        setTimeout(() => {
            strip.style.transition = "transform 3s ease-out";
            strip.style.transform = `translateX(-${offset}px)`;
        }, 30);
    }

</script>
{% endblock %}