{% extends "base.html" %}
{% block title %} Аккаунт {% endblock %}

{% block content %}
<div class="account-container">
    <div class="account-info">
        <div class="avatar">A</div>
        <div class="info">
            <h2>Даниил Щитиков</h2>
            <p>Молниеносный додеп</p>
        </div>
    </div>

    <div class="actions">
        <button onclick="location.href='settings.html'">Настройки</button>
        <button onclick="location.href='logout.html'">Выйти</button>
    </div>

    <div class="inventory">
        <h3>Инвентарь</h3>
        
    </div>
</div>
{% endblock %}