<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}" class="tile">Home</a></li>
                <li><a href="{{ url_for('case') }}" class="tile">Case</a></li>
                <li><a href="{{ url_for('app') }}" class="tile">App</a></li>
                <li><a href="{{ url_for('not_found') }}" class="tile">404</a></li>
                <li><a href="/login" class="tile">Login</a></li>
                <li><a href="/account" class="tile">Account</a></li>
                <!-- <li><a href="/download/db" class="tile">DataBase</a></li>
                <li><a href="/about" class="tile">About</a></li> -->
        </nav>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>

    </footer>
</body>

</html>